<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Clase 14 julio</title>
<link href="../css/estilologgin.css" rel="stylesheet" type="text/css">
	
</head>

<body>
	<div class="imagen">
	<img src="../img/logo_dg.jpeg" width="842" height="195" alt="Logo empresa DG_Soluciones" />
		</div>
<div class="contener">
		<div class="contenido">
           <h2 align="center"><strong>Bienvenido</strong></h2>
			<p><em>Sistema de administracion de bodega modulo basico v0.1</em></p>
			<hr>
			<a href="../../index.html"><input type="button" value="Regresar" class="envio" id="regresar"></a>

  </div>
	<div class="login-page">
		<div  class="form">
		<form method="post" action="../../Controller/php/conectar.php">
			<h1>Iniciar Sesion</h1>
			
			<div>
				<input type="text" placeholder="Usuario" required id="username" name="usuario"  />
			</div>
			<div>
			
				<p>
				<input type="password" placeholder="Contraseña" required id="password" name="password"/>
			  </p>
				
			</div>
			<div>
		  </div>
				<input class="envio" type="submit" value="Enviar" />

				<!--<a href="#">Lost your password?</a>
				<a href="#">Register</a>
			</div> -->
		</form><!-- form -->
	 </div>
		
	</div><!-- content -->
</div>
</body>
</html>
