<!DOCTYPE html>
<html lang="en">
<head>


<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<title>Control de Bodega</title>
<meta content="" name="description">
<meta content="" name="keywords">


<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="./assets/css/style.css" rel="stylesheet">

<link rel='stylesheet' href="./css/registrar.css">

</head>
<body>
   <div class="overlay">
  
      <!-- LOGN IN FORM by Omar Dsoky -->
      <form action="../Model/categoria/registrar.php"  method="GET" onSubmit="alerta()">
       
    
         <!--   con = Container  for items in the form-->
         <div class="con">
         <header class="head-form">
            <h2>Categoria</h2>
         </header>
         <br>
         
         <div class="field-set">
          <img src="https://cdn1.iconfinder.com/data/icons/zeir-miscellaneous-elements/32/add_new_category_menu-512.png" width="100" height="100"><br><br><br>
               <input class="form-input" type="text" placeholder="Nombre Categoria" name="name" pattern="[A-Za-z- -.]+" title="Ingrese solo texto en este campo" required>
            <br>
          
            <button > Guardar </button>
            
            <nav id="navbar" class="">
                     
              <a class="getstarted" href="./html/home.html">Regresar</a>  
     
            </nav><!-- .navbar -->
           
         </div>
         <script>
           function alerta(){
              window.alert('Categoria Guardada');
           }
           </script>
        </div>
      </form>
  </div>
      
</body>

